autopep8==2.3.2
flake8==7.3.0
llvmlite==0.44.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.17.0
mypy_extensions==1.1.0
numba==0.61.2
numpy==2.2.6
pathspec==0.12.1
plyer==2.1.0
prompt_toolkit==3.0.51
pycodestyle==2.14.0
pyflakes==3.4.0
pyfzf==0.3.1
Pygments==2.19.2
pyperclip==1.9.0
questionary==2.1.0
rich==14.0.0
simple-term-menu==1.6.6
termcolor==3.1.0
typing_extensions==4.14.1
wcwidth==0.2.13
